{
  box-sizing: border-box;
}

html{
  font:12pt helvetica, sans-serif;
  margin: 10px;
  padding: 10px;
}

body {
  margin:0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(anaheimpictures/headerbackground.jpg);
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: white;
  opacity: 75%;
}


/*NAVBAR*/

.navbar-menu{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(47, 0, 255);
  opacity: 75%;
  border-radius: 15px;
  text-align: center;

}
.navbar-menu .navbar-menu{
  display:none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top:100%;
  min-width: 5em;
}

.navbar-menu .navbar-menu{
  display:none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top:100%;
  min-width: 5em;
}
.navbar-item{
  display: block;
  flex:0 0 auto;
  margin: 0;
  padding: 0;
}

.navbar-link{
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  background-color: rgb(47, 0, 255);
  color: white;
  border-radius: 15px;
}

.navbar-link:hover, .navbar-link:focus {
  background-color: rgb(241, 8, 8);
}

.navbar-menu .navbar-menu{
  display:none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top:100%;
  min-width: 10em;
}

.navbar-menu .navbar-menu .navbar-item{
  flex: 0 0 3em;
}

.navbar-menu .navbar-menu .navbar-link{
  padding-left: 2em;
}

.navbar-item:hover > .navbar-menu,
.navbar-link:hover ~ .navbar-menu,
.navbar-item:focus-within > .navbar-menu,
.navbar-link:focus ~ .navbar-menu{
  display:flex;
}

/*content*/

.content{
width: 60%;  
display: flex ;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
flex-grow: 1;
margin: 10px;
padding: 10px;
background-color: rgb(255, 255, 255);
border-style: inset;
}

.paragraph {
  background-color: blue;
  color: white;
  border-style: outset;
  border-width: 5px;
  border-color: red;
  border-radius: 15px;
  font-family: helvetica;
  font-size: larger;
}



.footer{
  background-color: red;
  text-align: center;
  position: relative;
}

@media (max-width: 600px){
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-item .navbar-link {
    flex: none;
    width: 100%;
  }
}

.aside {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 252, 252, 0.75);
  font-family: helvetica, sans-serif;
  border-style: inset;
  border-width: 10px;
  border-radius: 15px 15px;
  border-color: blue;
  display: flex;
  justify-content: center;
  align-items: left;
  display: block;

}

.argama{
  display:flex;
  justify-content: center;
  display: block;
  max-width: 100%;
  object-fit: contain;
}


h2{
  font-family: helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-items: center;
  padding: 0;
  margin: 0;
  display:block;
  background-color: red;
  border-style: groove;
  border-color: blue;
  border-radius: 15px 15px;
  border-width: 20px;
  
  

}


@media only screen and (min-width:600px) {
  .aside {
      float:left;
      width:57%;
  }
  .aside {
      float:right;
      width:28%;
  }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 479px) {

}

@media only screen 
and (min-device-width: 480px) 
and (max-device-width: 640px) {

}