header {
  background-color: rgb(255, 210, 249);
}

.headerlinks a{
  color: black;
}

h1 {
  color: black;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-align: center;

}

.jumbotron {
 background-image: url(storefront.jpg) ;
 background-position: 35% 35%;
 background-repeat: no-repeat;
 background-size: initial;
 width: 100%;
 height: 20vh;
 color: rgb(255, 66, 32);
}

li {
  color: black;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.container {
  background-color: #157229;
  
}

li {
  color: rgb(15, 61, 33);
}

a {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: rgb(135, 206, 253);
}

.map {
  background-color: rgb(49, 9, 194);
}
body {
  background-color: rgb(255, 27, 27);
}

p {
  color: white;
  font-family: helvetica, sans-serif;

}

footer {
  background-color: purple;
  text-align: center;
}

.map {
  text-align: center;
}

.jumbotron h1 {
  text-align: right;
}

.links {
  text-align: right;
}

h2 {
  color: orangered;
  font-family: helvetica;
  font-weight: bolder;
}