body{
  background-color: #3e5da7;
  margin: auto;
  padding: 10px;

}

.header{
  background-color: #3e5da7;
  color: #f9c7d6;
  font-family:helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}

.column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
}

.tagline{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left; 
  width: 100%;
  position: relative;
  flex-wrap: nowrap;

  
}

.header-name{
  font-family: helvetica, sans-serif;
  font-size: 50px;
  background-color: #dd4d96;
  color: #e9d561;
  box-shadow: 15px 15px;
  height: 60px;
  display:flex ;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;

  
}


.logo2{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*NAVBAR*/
.navbar-menu{
  display:flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding:0;
  position:relative;
  background-color: #dd4d96;
  text-align: left;
  font-family: helvetica, sans-serif;
  flex-direction: row;
}

.navbar-link{
  display:flex;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  padding: 1em;
  background-color:#f1ee92;
  border-style:groove;
  border-width: 5px;
  box-shadow: #dd4d96 5px 5px 5px;
  border-radius: 15px;
  font-family: helvetica,sans-serif;
  font-size: 20px;
  font-weight: bold;

 
 }
 
 .navbar-link:hover, .navbar-link:focus{
   background-color:#dd4d96;
 }

 .navbar-item:hover > .navbar-menu,
 .navbar-link:hover ~ .navbar-menu,
 .navbar-item:focus-within > .navbar-menu,
 .navbar-link:focus ~ .navbar-menu{
   display:flex;
 }



/*MAIN*/

.main {
  background-color: #3e5da7;
  color:	#f9c7d6;
  font-family: helvetica, sans-serif;
  display:flex;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;;
}



img{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.headshot{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;

}

.paragraph{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  

}

.main2{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}


.link{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  


}

.logo{
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;

}


.footer{
  color:#e9d561;
  background-color: #dd4d96;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 15px 15px;
  text-align: center;
  padding: 10px;
  margin:10px;
}

.footer-title{
  text-align: right;
  font-size: 15px;
}


@media (max-width: 599px){
  .navbar-menu, .main, .main2, .header, .tagline, .logo2{
    flex-direction: column;
  }

  .flip{
    display: flex;
    flex-direction: column-reverse;
  }
}

