body{
  background-color: #3e5da7;
  margin: auto;

}

.header{
  background-color: #3e5da7;
  color: #f9c7d6;
  box-shadow: 15px 15px;
  font-family:helvetica, sans-serif;
  font-size: 20px;

}

.header-name{
  font-family: helvetica, sans-serif;
  font-size: 40px;
  background-color: #dd4d96;
  color: #e9d561;
  box-shadow: 15px 15px;

  
}

/*NAVBAR*/

.navbar-menu{
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #dd4d96;
  text-align: center;
  font-family:Helvetica, sans-serif;

}


.navbar-link{
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  background-color: #f1ee92;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.navbar-link:hover, .navbar-link:focus {
  background-color: #dd4d96;
}

.navbar-menu .navbar-menu{
  display:none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top:100%;
  min-width: 5em;
  font-size: 20px;
  color: black;
}

.navbar-menu .navbar-menu .navbar-item{
  flex: 0 0 3em;
}

.navbar-menu .navbar-menu .navbar-link{
  padding-left: 2em;
}

.navbar-item:hover > .navbar-menu,
.navbar-link:hover ~ .navbar-menu,
.navbar-item:focus-within > .navbar-menu,
.navbar-link:focus ~ .navbar-menu{
  display:flex;
}

.main {
  background-color: #3e5da7;
  color:	#f9c7d6;
  font-family: helvetica, sans-serif;
}

.logo{
  width: 50px;
  height: 50px;
}

.main1 {
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  flex-direction: column;
}

.main2{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  flex-direction: column;
}

.footer{
  color:#e9d561;
  background-color: #dd4d96;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 15px 15px;
}

@media (max-width: 600px){
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-item .navbar-link {
    flex: none;
    width: 100%;
  }
}