body {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  font-size: 2em;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jumbotron {
  background-image: url(/images/charity.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 400px;
  width: 100%;
  font-size: 2em;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: groove;
  border-color: aqua;

}

.card {
  font-size: 2em;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  max-height: vh100;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: initial;
}

.carousel-item {
  border-style: inset;
  border-width: 7px;
  border-color: orange;
  max-height: fit-content;
}


footer {
  border-style: groove;
  border-color: blue;

}


.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}