body {
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 75px;
  margin-left: 40px;
  background-color: rgb(66, 61, 61);
  border: #c5eeeb;
  border-style: double;
  border-width: 20px;
}

h1 {
  color: #db4c14;
  size: 40px;
  background-color: rgb(54, 54, 139);
  text-shadow: -6px -6px 10px rgb(26, 1, 34);
  text-align: center;
  font: 40px Helvetica, sans-serif;
 
}

p {
  font: 1.25em helvetica, sans-serif;
  color: rgb(56, 255, 255);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 75px;
  margin-left: 40px;
  text-align: center;
  border-style: groove;
}

div.formats {
  font: 15px helvetica, sans-serif, bold;
  color:#c5eeeb;
  text-align: center;
  border-style: groove;
}

ul {
  font: 15px helvetica, sans-serif bolder;
  color:#c5eeeb;
  text-align: center;
  border-style: groove;
  list-style-type: none;
  
}

div.container {
  font-family: Helvetica, sans-serif;
  color: rgba(117, 188, 250, 1);
  text-align: center;
  text-align: center;
  border-style: groove;

}

main li {
  font-size: 150%;
}

div.links{
  color: #d058ff;
  text-align: center;
  font: 20px helvetica, sans-serif bold;
  text-decoration: none;
  border-style: groove;
  border-width: medium;
}

a {
  color: #d058ff;
  text-align: center;
  font: 20px helvetica, sans-serif bold;
  text-decoration: none;
  border-style: groove;
  border-width: medium;
}


a:link {
  color: rgb(231, 71, 165);
  text-align: center;
  font: 20px helvetica, sans-serif bold;
  text-decoration: none;
  border-style: groove;
  border-width: medium;
}

a:hover {
  color: rgb(95, 71, 231);  
  text-align: center;
}

a:focus {
  color: rgb(95, 71, 231); 
  text-align: center; 
}