#allGames{
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px rgb(96, 12, 231);
  border: thin solid rgb(142, 35, 204);
  padding: 5em;
  background-color: #09032b;
  text-align: center;
  color: rgb(94, 159, 216);


}

#searchGames{
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px gray;
  border: thick solid black;
  padding: 5em;
  color:rgb(0, 0, 0);
  background-color: hsl(256, 100%, 74%);
  text-align: center;
}

  .body{
    background-color: black;
  }


img{
  max-width: 300px;
}




.custom-img {
  width: 100%;
  height: 200px;         
  object-fit: cover;     
}